.counter-container {
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center;
    margin-top: -10vw;
    position: relative;
    z-index: 5;
    background-color: black;
    height: 100%;
    width: 100%;
}

.counter-item {
    margin: 4vw;
    padding: 1vw;
    text-align: center;
    background: none;
    width: auto;
    margin-bottom: 1vw;  
    margin-top: -10px;
    gap: 2vw;
    flex-direction: column;
    align-items: center;
}

.counter {
    font-family: "Syne", system-ui;
    font-weight: 400;
    font-size: 130px;
    text-align: center;
    text-shadow: 4px 4px 10px rgba(0, 180, 87, 0.768);
    color: #fff;
    display: block;
}

.counter-cap {
    font-family: "Syne", system-ui;
    font-weight: 600;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .counter-container{
        margin-top: -30vw;
        margin-bottom: -80vw;
    }
    .counter-item {
        margin: 2vw;
        margin-top: -70vw;
        gap: 1vw;
    }
    .counter-cap {
        padding-top: 1vw;
        padding-bottom: 1vw;
        font-size: 25px;
    }
    .counter {
        font-size: 100px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .counter-container {
        height: 150vh;
        margin-top: -200px;
        display: flex;
        flex-direction: column;
    }
    .counter-item {
        margin: 2vw;
        gap: 1vw;
    }
    .counter-cap {
        padding-top: 1vw;
        padding-bottom: 1vw;
        font-size: 40px;
    }
    .counter {
        font-size: 80px;
    }
}

@media (max-width: 480px) {
    .counter-item {
        margin-top: -1000px;
        gap: 1vw;
    }
    .counter-cap {
        padding-top: 1vw;
        padding-bottom: 1vw;
        font-size: 15px;
    }
    .counter {
        font-size: 40px;
}
}

@media (min-width: 650px) and (max-width: 768px) {
    .counter-container{
        margin-bottom: -40vw;
    }
}