/*Navbar*/
.logoimg{
    width: 15vw; 
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2vw;
    margin-left: 4vw;
}

nav{
    position: sticky;
    top:0;
    z-index: 1000; 
    width: 100%;
    height: 10rem;
    background-color: transparent;
}

ul{
    font-family: "Syne", system-ui;
    font-weight: 500;
    list-style-type: none ;
    margin:0;
    padding:0;
    position: sticky !important;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: right;
    margin-right: 3.5vw;
    width: 100%;
}

li{
    float:left;
    padding: 2vw;
    font-size: 1.7vw; 
    color:rgb(255, 255, 255);
    text-shadow: 4px 4px 10px rgb(0, 180, 87);
}

a{
    text-decoration: none !important;
    color:rgb(255, 255, 255) !important;
    display: block;
    padding: 1vw;
}

li a:hover{
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-color: #8d6cb2ad;
    text-decoration-thickness: 0.2vw;
}


li:nth-child(1) a:hover{
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-color: #8d6cb2ad;;
    text-decoration-thickness: 0.2vw;
}